<input type="number" [(ngModel)]="this.sumadora.numero2">

<select [(ngModel)]="this.sumadora.operacion">
    <option value="1">+</option>
    <option value="2">-</option>
    <option value="3">/</option>
    <option value="4">*</option>
</select>
<input type="number" [(ngModel)]="this.sumadora.numero1">
<input type="button"(click)="this.sumadora.calcular()" value="=">
<b>{{this.sumadora.resultado}}</b>

<div>
    <input type="button" value="1" (click)="this.sumadora.concatenar(1)">
</div>
<div>
    <input type="button" value="2" (click)="this.sumadora.concatenar(2)">
</div>
<div>
    <input type="button" value="3" (click)="this.sumadora.concatenar(3)">
</div>
<div>
    <input type="button" value="4" (click)="this.sumadora.concatenar(4)">
</div>
<div>
    <input type="button" value="5" (click)="this.sumadora.concatenar(5)">
</div>
<div>
    <input type="button" value="6" (click)="this.sumadora.concatenar(6)">
</div>
<div>
    <input type="button" value="7" (click)="this.sumadora.concatenar(7)">
</div>
<div>
    <input type="button" value="8" (click)="this.sumadora.concatenar(8)">
</div>
<div>
    <input type="button" value="9" (click)="this.sumadora.concatenar(9)">
</div>
<div>
    <input type="button" value="0" (click)="this.sumadora.concatenar(0)">
</div>
<div>
    <input type="button" value="C" (click)="this.sumadora.limpiar()">
</div>
<div>
    <input type="button" value="+" (click)="this.sumadora.realizarOperacion(1)">
</div>
<div>
    <input type="button" value="-" (click)="this.sumadora.realizarOperacion(2)">
</div>
<div>
    <input type="button" value="/" (click)="this.sumadora.realizarOperacion(3)">
</div>
<div>
    <input type="button" value="*" (click)="this.sumadora.realizarOperacion(4)">
</div>
<div>
    <input type="button" value="=" (click)="this.sumadora.calcular()">
</div>

